.where{
    border-style: hidden;
    border-radius: 1px 7px 1px 0px;
    background-color: blue;
    color: white;
    width: 9%;
    height: 23px;
    margin-left: 5.2%;
    text-align: center;
    display: inline-block;
}

.away{
    margin-left: 12%;
    margin-top: -1.5%;
}

.away2{
    margin-left: 1%;
    height: 100px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 16px;
    color: white;
    background-color: blue;
    text-align: left;
}
th{
    height: 23px;
    width: 150px;
    margin-top: 5%;
}

.align15{
    border-style: hidden;
    width: 9%;
    height: 34px;
    margin-left: 20%;
    margin-top: 10%;
    background-color: green;
    color: white;
}

.align16{
    border-style: hidden;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 0.42%;
    padding-bottom: 0.62%;
    width: 9%;
    height: 30px;
    margin-left: 3%;
    background-color: green;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}