.there{
    border-style: hidden;
    border-radius: 1px 7px 1px 0px;
    background-color: blue;
    color: white;
    width: 10%;
    height: 5%;
    margin-top: 1%;
    text-align: center;
    display: inline-block;
}

.middle {
    margin-left: 40%; 
    margin-top: 8%;
}

.empty{
    border: 4px solid blue;
    width: 20%;
    height: 5%;
    display: inline-block;
    margin-left: 2%;
}

.align{
    border-style: hidden;
    width: 9%;
    margin-left: 1%;
    height: 5%;
    background-color: green;
    color: white;
}

.align2{
    border-style: hidden;
    width: 9%;
    height:5%;
    background-color: green;
    color: white;
    margin-left: 2.4%;
}

.alignhome{
    border-style: hidden;
    width: 12%;
    height: 10%;
    background-color: green;
    color: white;
}

.alignhome2{
    margin-top: 5%;
    margin-left: 5%;
}

.slightleft{
    margin-left: 2%;
    height: 4%;
    width: 10%;
}