.there{
    border-style: hidden;
    border-radius: 1px 7px 1px 0px;
    background-color: blue;
    color: white;
    width: 80px;
    height: 23px;
    text-align: center;
    display: inline-block;
}

.middle {
    margin-left: 40%; 
    margin-top: 10%;
}

.empty{
    border: 4px solid blue;
    width: 10%;
    display: inline-block;
    margin-left: 2%;
}

.align{
    border-style: hidden;
    width: 9%;
    height: 23px;
    background-color: green;
    color: white;
}

.align2{
    border-style: hidden;
    width: 9%;
    height: 23px;
    background-color: green;
    color: white;
    margin-left: 2.4%;
}