.where{
    border-style: hidden;
    border-radius: 1px 7px 1px 0px;
    background-color: blue;
    color: white;
    width: 9%;
    height: 23px;
    margin-left: 5.2%;
    text-align: center;
    display: inline-block;
}

.righthere{
    border: 4px solid blue;
    width: 10%;
    height: 5%;
    display: inline-block;
    margin-left: 2%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 16px;
    margin-left: 80px; 
    margin-top: 2%; 
    background-color: rgb(207, 207, 207);
}
th{
    height: 60px;
    width: 150px;
}

.align{
    border-style: hidden;
    width: 9%;
    margin-left: 30%;
    height: 25px;
    background-color: green;
    color: white;
}

.ALLIWANTISFORYOUTOGOUP{
    margin-top: -1.6%;
}